.home-page .flex-content {
    display: flex;
    justify-content: space-between;
}

.home-page #nav li a:focus,
.home-page #nav li a:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.home-page #nav li:not(.logo) a {
    font-weight: 400;
}

.home-page .logo a {
    width: 10em;
    height: 4em;
    line-height: 4em;
    background: rgba(255, 255, 255, 0.15);
    border: solid 1px;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.75);
    border-top: 0;
    border-radius: 0 0 0.35em 0.35em;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.home-page .dropdown-toggle,
.home-page .dropdown-title {
    background: none;
    border: none;
    color: #fff;
    outline: 0;
}

.home-page .dropdown-toggle:active,
.home-page .dropdown-toggle:hover,
.home-page .dropdown-toggle:focus,
.home-page .services-dropdown .show > .btn-secondary.dropdown-toggle {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
}

.home-page .dropdown-title {
    font-weight: 400;
    margin-right: 5px;
    outline: 0;
}

.home-page #header-wrapper li {
    cursor: pointer;
}

.home-page #header-wrapper .main-logo {
    height: 120px;
    width: 325px;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-size: cover;
}

.home-page #header-wrapper #hero {
   display: flex;
}

.home-page #header-wrapper #hero p {
    text-align: center;
}