@media only screen and (max-width: 1200px) {
    .home-page #header-wrapper .large-menu {
        display: none;
    }

    .home-page #header-wrapper .small-menu {
        display: block;
    }

    .home-page #header-wrapper {
        padding: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .home-page #header-wrapper .small-menu {
        display: none;
    }
}

.home-page #header-wrapper .small-menu {
    position: relative;
}

.home-page #header-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.home-page #header-wrapper #header {
    width: 100%;
}

.home-page #header-wrapper .small-menu .hamburger-dropdown .icon {
    cursor: pointer;
}

.home-page .flex-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-page #nav li a:focus,
.home-page #nav li a:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.home-page #nav .small-menu .icon {
    color: #FFFFFF;
    float: left;
}

.home-page #nav li a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 0.35em;
    padding: 0.3em 1em 0.3em 1em;
    -moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.home-page #nav li {
    display: inline-block;
    margin-left: 1em;
    white-space: nowrap;
}

.home-page .logo a {
    width: 10em;
    height: 4em;
    line-height: 4em;
    background: rgba(255, 255, 255, 0.15);
    border: solid 1px;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.75);
    border-top: 0;
    border-radius: 0 0 0.35em 0.35em;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}

.home-page .dropdown-toggle,
.home-page .dropdown-title {
    background: none;
    border: none;
    color: #FFFFFF;
    outline: 0;
}

.home-page .services-dropdown.show .dropdown-toggle .dropdown-title {
    color: #000000;
}

.home-page .dropdown-toggle:active,
.home-page .dropdown-toggle:hover,
.home-page .dropdown-toggle:focus,
.home-page .services-dropdown .show > .btn-secondary.dropdown-toggle {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
}

.home-page .dropdown-title {
    font-weight: 400;
    margin-right: 5px;
    outline: 0;
}

.home-page #header-wrapper li {
    cursor: pointer;
}

.home-page #header-wrapper li .bold-menu {
    font-weight: bold;
}

.home-page #header-wrapper .main-logo {
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0.4;
}

.home-page #header-wrapper #hero {
    display: flex;
}

.home-page #header-wrapper #hero p {
    line-height: 1.5em;
    font-size: 1.25em;
}

.home-page #header-wrapper #hero .mission-statement {
    flex: 1;
    align-self: center;
}