.about-us #content {
    margin-top: 50px;
}

.about-us #content .director-label{
    margin: 0;
    padding-bottom: 0
}

.about-us .image.featured .splash-image {
    background-position-y: -100px;
}