.home-page .main-images {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 575px;
    height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page .footer-images {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 369px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page .pic-01 {
    background-image: url("images/pic01.jpg");
}

.home-page .pic-02 {
    background-image: url("images/pic02.jpg");
}

.home-page .pic-03 {
    background-image: url("images/pic03.jpg");
}

.home-page .pic-04 {
    background-image: url("images/pic04.jpg");
}

.home-page .pic-05 {
    background-image: url("images/pic05.jpg");
}

.home-page .pic-06 {
    background-image: url("images/pic06.jpg");
}

.home-page .pic-073 {
    background-image: url("images/pic07.jpg");
}

.home-page .flex-content {
    display: flex;
    justify-content: space-between;
}


.home-page #nav li:not(.logo) a {
    font-weight: 400;
}

.home-page .logo a {
    width: 10em;
    height: 4em;
    line-height: 4em;
    background: rgba(255, 255, 255, 0.15);
    border: solid 1px;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.75);
    border-top: 0;
    border-radius: 0 0 0.35em 0.35em;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.home-page .dropdown-toggle,
.home-page .dropdown-title {
    background: none;
    border: none;
    color: #fff;
}

.home-page .dropdown-toggle:active,
.home-page .dropdown-toggle:hover,
.home-page .dropdown-toggle:focus,
.home-page .services-dropdown .show > .btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.home-page .dropdown-title {
    font-weight: 400;
    margin-right: 5px;
}
